ion-card-content {
  padding: 0px;
}

ion-list {
  background-color: white;
  padding: 0px;
}

ion-label {
  margin: 0;
}

ion-card-title {
  font-size: medium;
}

ion-button {
  text-transform: none;
}

ion-item {
  border: none;
}
