ion-icon {
  font-size: 5em;
  font-weight: lighter;
  color: var(--ion-color-primary);
}

.number {
  color: var(--ion-color-tertiary);
}

.large {
  font-size: 8em;
}

.small {
  font-size: 5em;
}

.unidad-large {
  font-size: 40px;
}

.unidad-small {
  font-size: 25px;
}
