<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" style="position: relative; top: 20%;">
  <ion-list [formGroup]="form">
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="password" formControlName="password" label="Contraseña actual" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="password" formControlName="newPassword" label="Nueva contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
    <ion-item lines="none" class="ion-margin-bottom">
      <ion-input type="password" formControlName="newPassword2" label="Repite la contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="success" expand="block" (click)="confirm()" [disabled]="!form.valid || saving">
    <i class="fas fa-spinner fa-spin ion-margin-end" *ngIf="saving"></i>
    Aceptar
  </ion-button>
</ion-content>
